# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# others
*~
*.tmp
*.bak
*.swp
*.local

# alfred
prefs.plist

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
