<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.fanfank.deepseek</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>002C36B3-1523-4883-B4A7-507BFDD84CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>397A6FF4-2D87-470F-A1C0-3F064150472C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>03ABD957-42C4-46F2-A6C8-E2D39DC59D07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D2FDEAF-89BA-47F6-9239-D112733E406D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>079BD677-E3BB-425C-BEEC-B1F98B4DFC54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98365A28-0866-4520-A67D-8EEEBCBABFF9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use powerful mode to answer this question</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD187FBF-36BD-4C18-86E7-ECAC4B3F2C7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49758438-9EE1-4415-B63A-32CC6895E495</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Clear chat history and start new chat</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>152CB86F-B009-4611-9E8F-B0C85E59D742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>505D872A-96D9-484F-90C9-4C4CC542EC4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D771806-0A6D-418D-9020-2AC9E20B59E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6526BB0C-4029-49CE-8FCF-38F3A30A7336</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>397A6FF4-2D87-470F-A1C0-3F064150472C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1696E9A-1E20-4A55-A2D2-C0F75F381EE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F1E9008-F5D7-4703-9229-1EF7C933C869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8C35905-3B1F-4D81-8B59-7C5C6B84AFED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49758438-9EE1-4415-B63A-32CC6895E495</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>690B84E7-2A0F-4A32-84F3-9BFC6DF8F245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91F66AA-091D-4B31-A45C-9D9833EBDC6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>505D872A-96D9-484F-90C9-4C4CC542EC4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>535F9E01-DE82-4E31-B0D3-3FDED62ECB62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>535F9E01-DE82-4E31-B0D3-3FDED62ECB62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>002C36B3-1523-4883-B4A7-507BFDD84CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57A3C540-532F-4121-B901-986C9001BF00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8C35905-3B1F-4D81-8B59-7C5C6B84AFED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>37EB85AD-3955-4861-8D63-20B71707B9A5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>647632B1-13FB-4815-B83D-01D6EC552841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>607C41E9-5737-4C60-AB08-FCB04DAE3C2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57A3C540-532F-4121-B901-986C9001BF00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>647632B1-13FB-4815-B83D-01D6EC552841</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B48B6B45-1542-442F-B82A-D7619947AC94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6526BB0C-4029-49CE-8FCF-38F3A30A7336</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>653B0EC2-6944-4808-98A0-5B19CF5C7987</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>653B0EC2-6944-4808-98A0-5B19CF5C7987</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEA2BAF0-681B-412E-AECA-B4529AAE182D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Clear chat history and start new chat</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>152CB86F-B009-4611-9E8F-B0C85E59D742</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>-&gt; Stop generating answer</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03ABD957-42C4-46F2-A6C8-E2D39DC59D07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Use default model to chat</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7555762F-C023-4120-BA24-09CA17D6C334</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use powerful model to chat</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7555762F-C023-4120-BA24-09CA17D6C334</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D2FDEAF-89BA-47F6-9239-D112733E406D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F1429BC-D8A2-40B3-A75D-3CF7ABF5D5ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F1E9008-F5D7-4703-9229-1EF7C933C869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98365A28-0866-4520-A67D-8EEEBCBABFF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>607C41E9-5737-4C60-AB08-FCB04DAE3C2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B48B6B45-1542-442F-B82A-D7619947AC94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D771806-0A6D-418D-9020-2AC9E20B59E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8C35905-3B1F-4D81-8B59-7C5C6B84AFED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>647632B1-13FB-4815-B83D-01D6EC552841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B91F66AA-091D-4B31-A45C-9D9833EBDC6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>690B84E7-2A0F-4A32-84F3-9BFC6DF8F245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC0B4C4D-F882-4D12-8B79-3976867724E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>653B0EC2-6944-4808-98A0-5B19CF5C7987</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD187FBF-36BD-4C18-86E7-ECAC4B3F2C7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>607C41E9-5737-4C60-AB08-FCB04DAE3C2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1696E9A-1E20-4A55-A2D2-C0F75F381EE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>694B369C-27B5-4EA4-A8B0-9BF00A0D820F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>47CD080B-D682-45F5-8F49-A6B7B5B28BC6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59B9C4F9-73C0-4F87-8033-3764A9D2C4C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEA2BAF0-681B-412E-AECA-B4529AAE182D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>002C36B3-1523-4883-B4A7-507BFDD84CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA75D456-6C3E-44DF-9C4C-E29DCD44DB01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98365A28-0866-4520-A67D-8EEEBCBABFF9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Use powerful mode to answer this question</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CD187FBF-36BD-4C18-86E7-ECAC4B3F2C7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49758438-9EE1-4415-B63A-32CC6895E495</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Clear chat history and start new chat</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fanfank</string>
	<key>description</key>
	<string>Chat with DeepSeek in Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DeepSeek</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>new_chat</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8F1429BC-D8A2-40B3-A75D-3CF7ABF5D5ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>new_chat</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>694B369C-27B5-4EA4-A8B0-9BF00A0D820F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>init_question</key>
					<string>{query}</string>
					<key>powerful_mode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3F1E9008-F5D7-4703-9229-1EF7C933C869</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:deepseek_keyword}</string>
				<key>subtext</key>
				<string>↩ chat · ⌘↩ powerful chat · ⌥↩ start new chat</string>
				<key>text</key>
				<string>Ask DeepSeek</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>079BD677-E3BB-425C-BEEC-B1F98B4DFC54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>init_question</key>
					<string>{query}</string>
					<key>powerful_mode</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>98365A28-0866-4520-A67D-8EEEBCBABFF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly stream_file="${alfred_workflow_cache}/deepseek_stream.txt"
readonly pid_stream_file="${alfred_workflow_cache}/deepseek_pid.txt"
readonly pid_stream="$(&lt; "${pid_stream_file}")"

kill "${pid_stream}"
/bin/rm "${stream_file}" "${pid_stream_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>002C36B3-1523-4883-B4A7-507BFDD84CB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{const:alfred_workflow_data}/deepseek_chat.json</string>
				<key>filetext</key>
				<string>[]</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>B8C35905-3B1F-4D81-8B59-7C5C6B84AFED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:new_chat}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>New Chat</string>
						<key>uid</key>
						<string>47CD080B-D682-45F5-8F49-A6B7B5B28BC6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Continue</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E1696E9A-1E20-4A55-A2D2-C0F75F381EE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>init_question</key>
					<string>{query}</string>
					<key>new_chat</key>
					<string>1</string>
					<key>powerful_mode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EEA2BAF0-681B-412E-AECA-B4529AAE182D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:init_question}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>streaming_now</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>397A6FF4-2D87-470F-A1C0-3F064150472C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>same_session_chat</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>59B9C4F9-73C0-4F87-8033-3764A9D2C4C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_data}/deepseek_chat.json</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>607C41E9-5737-4C60-AB08-FCB04DAE3C2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>2D771806-0A6D-418D-9020-2AC9E20B59E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>deepseek</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>505D872A-96D9-484F-90C9-4C4CC542EC4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>↩ chat · ⌘↩ powerful chat · ⌥↩ start new chat · ⇧↩ Interrupt</string>
				<key>inputfile</key>
				<string>deepseek</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>1</integer>
				<key>scriptinput</key>
				<integer>2</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>653B0EC2-6944-4808-98A0-5B19CF5C7987</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>New</string>
						<key>uid</key>
						<string>37EB85AD-3955-4861-8D63-20B71707B9A5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Continue</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>57A3C540-532F-4121-B901-986C9001BF00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>init_question</key>
					<string>{query}</string>
					<key>powerful_mode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD187FBF-36BD-4C18-86E7-ECAC4B3F2C7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>
</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>B48B6B45-1542-442F-B82A-D7619947AC94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>interrupted</key>
					<string>1</string>
					<key>new_chat</key>
					<string>0</string>
					<key>powerful_mode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>152CB86F-B009-4611-9E8F-B0C85E59D742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{const:alfred_workflow_data}
{const:alfred_workflow_cache}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>647632B1-13FB-4815-B83D-01D6EC552841</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>interrupted</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>535F9E01-DE82-4E31-B0D3-3FDED62ECB62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:init_question}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6526BB0C-4029-49CE-8FCF-38F3A30A7336</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>powerful_mode</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>03ABD957-42C4-46F2-A6C8-E2D39DC59D07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>new_chat</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>690B84E7-2A0F-4A32-84F3-9BFC6DF8F245</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>↩ chat · ⌘↩ powerful chat · ⌥↩ start new chat</string>
				<key>text</key>
				<string>Ask DeepSeek: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>FA75D456-6C3E-44DF-9C4C-E29DCD44DB01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>49758438-9EE1-4415-B63A-32CC6895E495</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>same_session_chat</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7D2FDEAF-89BA-47F6-9239-D112733E406D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B91F66AA-091D-4B31-A45C-9D9833EBDC6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>same_session_chat</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CC0B4C4D-F882-4D12-8B79-3976867724E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>powerful_mode</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7555762F-C023-4120-BA24-09CA17D6C334</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>002C36B3-1523-4883-B4A7-507BFDD84CB5</key>
		<dict>
			<key>note</key>
			<string>Stop stream process</string>
			<key>xpos</key>
			<real>2245</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>03ABD957-42C4-46F2-A6C8-E2D39DC59D07</key>
		<dict>
			<key>xpos</key>
			<real>1870</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>079BD677-E3BB-425C-BEEC-B1F98B4DFC54</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>152CB86F-B009-4611-9E8F-B0C85E59D742</key>
		<dict>
			<key>xpos</key>
			<real>1870</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>2D771806-0A6D-418D-9020-2AC9E20B59E8</key>
		<dict>
			<key>xpos</key>
			<real>1280</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>397A6FF4-2D87-470F-A1C0-3F064150472C</key>
		<dict>
			<key>xpos</key>
			<real>2435</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>3F1E9008-F5D7-4703-9229-1EF7C933C869</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>49758438-9EE1-4415-B63A-32CC6895E495</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>505D872A-96D9-484F-90C9-4C4CC542EC4F</key>
		<dict>
			<key>note</key>
			<string>Stop stream process</string>
			<key>xpos</key>
			<real>1990</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>535F9E01-DE82-4E31-B0D3-3FDED62ECB62</key>
		<dict>
			<key>xpos</key>
			<real>2150</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>57A3C540-532F-4121-B901-986C9001BF00</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>59B9C4F9-73C0-4F87-8033-3764A9D2C4C9</key>
		<dict>
			<key>xpos</key>
			<real>2680</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>607C41E9-5737-4C60-AB08-FCB04DAE3C2F</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>647632B1-13FB-4815-B83D-01D6EC552841</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>6526BB0C-4029-49CE-8FCF-38F3A30A7336</key>
		<dict>
			<key>xpos</key>
			<real>1495</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>653B0EC2-6944-4808-98A0-5B19CF5C7987</key>
		<dict>
			<key>xpos</key>
			<real>1655</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>690B84E7-2A0F-4A32-84F3-9BFC6DF8F245</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>694B369C-27B5-4EA4-A8B0-9BF00A0D820F</key>
		<dict>
			<key>xpos</key>
			<real>2680</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>7555762F-C023-4120-BA24-09CA17D6C334</key>
		<dict>
			<key>xpos</key>
			<real>1870</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>7D2FDEAF-89BA-47F6-9239-D112733E406D</key>
		<dict>
			<key>xpos</key>
			<real>1990</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8F1429BC-D8A2-40B3-A75D-3CF7ABF5D5ED</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>98365A28-0866-4520-A67D-8EEEBCBABFF9</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B48B6B45-1542-442F-B82A-D7619947AC94</key>
		<dict>
			<key>xpos</key>
			<real>1135</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>B8C35905-3B1F-4D81-8B59-7C5C6B84AFED</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>B91F66AA-091D-4B31-A45C-9D9833EBDC6E</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>CC0B4C4D-F882-4D12-8B79-3976867724E4</key>
		<dict>
			<key>xpos</key>
			<real>1455</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>CD187FBF-36BD-4C18-86E7-ECAC4B3F2C7D</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>E1696E9A-1E20-4A55-A2D2-C0F75F381EE6</key>
		<dict>
			<key>xpos</key>
			<real>2530</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>EEA2BAF0-681B-412E-AECA-B4529AAE182D</key>
		<dict>
			<key>xpos</key>
			<real>1870</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>FA75D456-6C3E-44DF-9C4C-E29DCD44DB01</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Ark API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ark_api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>deepseek</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>DeepSeek Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>deepseek_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Ark Model Endpoint</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ark_model_endpoint</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>If not filled in, will fallback to Ark Model Endpoint when querying powerful model</string>
			<key>label</key>
			<string>Ark Powerful Model Endpoint</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ark_powerful_model_endpoint</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>24</integer>
				<key>markercount</key>
				<integer>25</integer>
				<key>maxvalue</key>
				<integer>50</integer>
				<key>minvalue</key>
				<integer>2</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>How many older questions and answers to send.</string>
			<key>label</key>
			<string>Context</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>max_context</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Initial message to guide AI Assisant on the answers you expect.</string>
			<key>label</key>
			<string>System Prompt</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>system_prompt</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/fanfank</string>
</dict>
</plist>
